In [131]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [132]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
#https://drive.google.com/file/d/1cnOMyllyCxfWDBwmDzJjHVt4_fxD8yMF/view?usp=sharing

In [133]:
Exit_prediction=drive.CreateFile({'id':'1cnOMyllyCxfWDBwmDzJjHVt4_fxD8yMF'})

In [134]:
Exit_prediction.GetContentFile('Churn_Modelling.csv')

In [135]:
import pandas as pd
df = pd.read_csv('Churn_Modelling.csv')
#https://drive.google.com/file/d/1cnOMyllyCxfWDBwmDzJjHVt4_fxD8yMF/view?usp=sharing
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

 Row Number, Customer Id, and Surname are useless for our prediction. So we will eliminate these three independent variables in the next step.

In [136]:
#Import the Libraries-
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [137]:
df.shape

(10000, 14)

In [138]:
df['CreditScore'].unique()

array([619, 608, 502, 699, 850, 645, 822, 376, 501, 684, 528, 497, 476,
       549, 635, 616, 653, 587, 726, 732, 636, 510, 669, 846, 577, 756,
       571, 574, 411, 591, 533, 553, 520, 722, 475, 490, 804, 582, 472,
       465, 556, 834, 660, 776, 829, 637, 550, 698, 585, 788, 655, 601,
       656, 725, 511, 614, 742, 687, 555, 603, 751, 581, 735, 661, 675,
       738, 813, 657, 604, 519, 664, 678, 757, 416, 665, 777, 543, 506,
       493, 652, 750, 729, 646, 647, 808, 524, 769, 730, 515, 773, 814,
       710, 413, 623, 670, 622, 785, 605, 479, 685, 538, 562, 721, 628,
       668, 828, 674, 625, 432, 770, 758, 795, 686, 789, 589, 461, 584,
       579, 663, 682, 793, 691, 485, 650, 754, 535, 716, 539, 706, 586,
       631, 717, 800, 683, 704, 615, 667, 484, 480, 578, 512, 606, 597,
       778, 514, 525, 715, 580, 807, 521, 759, 516, 711, 618, 643, 671,
       689, 620, 676, 572, 695, 592, 567, 694, 547, 594, 673, 610, 767,
       763, 712, 703, 662, 659, 523, 772, 545, 634, 739, 771, 681, 544,
       696, 766, 727, 693, 557, 531, 498, 651, 791, 733, 811, 707, 714,
       782, 775, 799, 602, 744, 588, 747, 583, 627, 731, 629, 438, 642,
       806, 474, 559, 429, 680, 749, 734, 644, 626, 649, 805, 718, 840,
       630, 654, 762, 568, 613, 522, 737, 648, 443, 640, 540, 460, 593,
       801, 611, 802, 745, 483, 690, 492, 709, 705, 560, 752, 701, 537,
       487, 596, 702, 486, 724, 548, 464, 790, 534, 748, 494, 590, 468,
       509, 818, 816, 536, 753, 774, 621, 569, 658, 798, 641, 542, 692,
       639, 765, 570, 638, 599, 632, 779, 527, 564, 833, 504, 842, 508,
       417, 598, 741, 607, 761, 848, 546, 439, 755, 760, 526, 713, 700,
       666, 566, 495, 688, 612, 477, 427, 839, 819, 720, 459, 503, 624,
       529, 563, 482, 796, 445, 746, 786, 554, 672, 787, 499, 844, 450,
       815, 838, 803, 736, 633, 600, 679, 517, 792, 743, 488, 421, 841,
       708, 507, 505, 456, 435, 561, 518, 565, 728, 784, 552, 609, 764,
       697, 723, 551, 444, 719, 496, 541, 830, 812, 677, 420, 595, 617,
       809, 500, 826, 434, 513, 478, 797, 363, 399, 463, 780, 452, 575,
       837, 794, 824, 428, 823, 781, 849, 489, 431, 457, 768, 831, 359,
       820, 573, 576, 558, 817, 449, 440, 415, 821, 530, 350, 446, 425,
       740, 481, 783, 358, 845, 451, 458, 469, 423, 404, 836, 473, 835,
       466, 491, 351, 827, 843, 365, 532, 414, 453, 471, 401, 810, 832,
       470, 447, 422, 825, 430, 436, 426, 408, 847, 418, 437, 410, 454,
       407, 455, 462, 386, 405, 383, 395, 467, 433, 442, 424, 448, 441,
       367, 412, 382, 373, 419])

In [139]:
df['Exited'].unique()

array([1, 0])

Importing the dataset

In [140]:
X=df.iloc[:,3:13]
Y=df.iloc[:,13]

Convert Categorical Features into dummy variables

In [141]:
States=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [142]:
States.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [143]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

Drop the geography column as it no longer required

In [144]:
X=X.drop(['Geography','Gender'],axis=1)

Concatenate the remaining dummies column

In [145]:
X=pd.concat([X,States,gender],axis=1)

In [146]:
X

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
0             619   42       2  ...        0      0     0
1             608   41       1  ...        0      1     0
2             502   42       8  ...        0      0     0
3             699   39       1  ...        0      0     0
4             850   43       2  ...        0      1     0
...           ...  ...     ...  ...      ...    ...   ...
9995          771   39       5  ...        0      0     1
9996          516   35      10  ...        0      0     1
9997          709   36       7  ...        0      0     0
9998          772   42       3  ...        1      0     1
9999          792   28       4  ...        0      0     0

[10000 rows x 11 columns]

Splitting the dataset into training set and  test set

In [147]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [148]:
X_test_final=X_test

In [149]:
X_test_final

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
9394          597   35       8  ...        1      0     0
898           523   40       2  ...        0      0     0
2398          706   42       8  ...        0      1     0
5906          788   32       4  ...        0      0     1
2343          706   38       5  ...        1      0     1
...           ...  ...     ...  ...      ...    ...   ...
1037          625   24       1  ...        0      0     0
2899          586   35       7  ...        0      0     0
9549          578   36       1  ...        0      1     1
2740          650   34       4  ...        1      0     1
6690          573   30       8  ...        1      0     1

[2000 rows x 11 columns]

Feature Scaling

In [150]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [151]:
X.shape

(10000, 11)

**11 Features will be my input features next layer will be 6 neurons ,next layer will be again 6 neurons and the output will be either zero or one  and will tell the customer will be exit or not**




1.   The formula is ![ANN.PNG]()
2.   After the summation it will pass into Activation function
3.   There are many Activation functions like sigmoid,relu,Threshold
4.   we will use Relu activation function where we will transform the summation to max(0,x)
5.   Sigmoid function will be like 's' (1/1+e-x)

# ANN model Building

In [152]:
import keras
from keras.models import Sequential#sequential Neural Network
from keras.layers import Dense#adding the hidden layer

In [153]:
#Initializing the  ANN
classifier=Sequential()

In [154]:
#Adding theinput layer and the first  hidden layer
classifier.add(Dense(activation='relu',input_dim=11,units=6,kernel_initializer='uniform'))

In [155]:
#Adding the second hidden layer
classifier.add(Dense(activation='relu',units=6,kernel_initializer="uniform"))

In [156]:
#Adding the output layer
classifier.add(Dense(activation='sigmoid',units=1,kernel_initializer="uniform"))

In [157]:
classifier.summary()
#Fisrt hidden layer we have 6
#Second hidden layer we have 6
#Third output layer we have 1

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_9 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [158]:
#compiling the ANN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
#adam--reduce the cost function
#reason why we use binary_crossentropy coz we have two classes
#Metrics -we use is accuracy
#If we have more than 2 classes we will use categorical cross entropy

Epochs-Forward and backward propogation

In [159]:
#Fitting the ANN to the training set
classifier.fit(X_train,Y_train,batch_size=10,epochs=100)

Epoch 1/100
800/800 [==============================] - 1s 877us/step - loss: 0.5692 - accuracy: 0.7896
Epoch 2/100
800/800 [==============================] - 1s 973us/step - loss: 0.4307 - accuracy: 0.7930
Epoch 3/100
800/800 [==============================] - 1s 969us/step - loss: 0.4364 - accuracy: 0.7893
Epoch 4/100
800/800 [==============================] - 1s 879us/step - loss: 0.4208 - accuracy: 0.7941
Epoch 5/100
800/800 [==============================] - 1s 876us/step - loss: 0.4123 - accuracy: 0.8267
Epoch 6/100
800/800 [==============================] - 1s 882us/step - loss: 0.4196 - accuracy: 0.8278
Epoch 7/100
800/800 [==============================] - 1s 868us/step - loss: 0.4203 - accuracy: 0.8270
Epoch 8/100
800/800 [==============================] - 1s 882us/step - loss: 0.4132 - accuracy: 0.8323
Epoch 9/100
800/800 [==============================] - 1s 944us/step - loss: 0.4014 - accuracy: 0.8376
Epoch 10/100
800/800 [==============================] - 1s 936us/step - loss: 0.4086 - accuracy: 0.8294
Epoch 11/100
800/800 [==============================] - 1s 872us/step - loss: 0.4081 - accuracy: 0.8351
Epoch 12/100
800/800 [==============================] - 1s 876us/step - loss: 0.4086 - accuracy: 0.8345
Epoch 13/100
800/800 [==============================] - 1s 927us/step - loss: 0.4066 - accuracy: 0.8305
Epoch 14/100
800/800 [==============================] - 1s 990us/step - loss: 0.4123 - accuracy: 0.8330
Epoch 15/100
800/800 [==============================] - 1s 880us/step - loss: 0.4043 - accuracy: 0.8378
Epoch 16/100
800/800 [==============================] - 1s 912us/step - loss: 0.4088 - accuracy: 0.8350
Epoch 17/100
800/800 [==============================] - 1s 905us/step - loss: 0.4030 - accuracy: 0.8395
Epoch 18/100
800/800 [==============================] - 1s 870us/step - loss: 0.4041 - accuracy: 0.8353
Epoch 19/100
800/800 [==============================] - 1s 948us/step - loss: 0.4068 - accuracy: 0.8373
Epoch 20/100
800/800 [==============================] - 1s 950us/step - loss: 0.3994 - accuracy: 0.8363
Epoch 21/100
800/800 [==============================] - 1s 895us/step - loss: 0.4069 - accuracy: 0.8362
Epoch 22/100
800/800 [==============================] - 1s 924us/step - loss: 0.4016 - accuracy: 0.8357
Epoch 23/100
800/800 [==============================] - 1s 893us/step - loss: 0.4124 - accuracy: 0.8352
Epoch 24/100
800/800 [==============================] - 1s 921us/step - loss: 0.4025 - accuracy: 0.8348
Epoch 25/100
800/800 [==============================] - 1s 970us/step - loss: 0.4014 - accuracy: 0.8344
Epoch 26/100
800/800 [==============================] - 1s 912us/step - loss: 0.4120 - accuracy: 0.8317
Epoch 27/100
800/800 [==============================] - 1s 852us/step - loss: 0.4031 - accuracy: 0.8351
Epoch 28/100
800/800 [==============================] - 1s 879us/step - loss: 0.4060 - accuracy: 0.8303
Epoch 29/100
800/800 [==============================] - 1s 876us/step - loss: 0.3909 - accuracy: 0.8408
Epoch 30/100
800/800 [==============================] - 1s 933us/step - loss: 0.4023 - accuracy: 0.8372
Epoch 31/100
800/800 [==============================] - 1s 965us/step - loss: 0.3971 - accuracy: 0.8331
Epoch 32/100
800/800 [==============================] - 1s 895us/step - loss: 0.4025 - accuracy: 0.8386
Epoch 33/100
800/800 [==============================] - 1s 871us/step - loss: 0.3950 - accuracy: 0.8365
Epoch 34/100
800/800 [==============================] - 1s 879us/step - loss: 0.4119 - accuracy: 0.8304
Epoch 35/100
800/800 [==============================] - 1s 936us/step - loss: 0.4045 - accuracy: 0.8357
Epoch 36/100
800/800 [==============================] - 1s 902us/step - loss: 0.3934 - accuracy: 0.8391
Epoch 37/100
800/800 [==============================] - 1s 888us/step - loss: 0.3938 - accuracy: 0.8401
Epoch 38/100
800/800 [==============================] - 1s 914us/step - loss: 0.3961 - accuracy: 0.8396
Epoch 39/100
800/800 [==============================] - 1s 876us/step - loss: 0.3976 - accuracy: 0.8351
Epoch 40/100
800/800 [==============================] - 1s 861us/step - loss: 0.3907 - accuracy: 0.8434
Epoch 41/100
800/800 [==============================] - 1s 935us/step - loss: 0.4084 - accuracy: 0.8323
Epoch 42/100
800/800 [==============================] - 1s 896us/step - loss: 0.4000 - accuracy: 0.8361
Epoch 43/100
800/800 [==============================] - 1s 923us/step - loss: 0.3996 - accuracy: 0.8340
Epoch 44/100
800/800 [==============================] - 1s 879us/step - loss: 0.4073 - accuracy: 0.8282
Epoch 45/100
800/800 [==============================] - 1s 896us/step - loss: 0.4078 - accuracy: 0.8332
Epoch 46/100
800/800 [==============================] - 1s 907us/step - loss: 0.3939 - accuracy: 0.8383
Epoch 47/100
800/800 [==============================] - 1s 916us/step - loss: 0.3966 - accuracy: 0.8412
Epoch 48/100
800/800 [==============================] - 1s 893us/step - loss: 0.3998 - accuracy: 0.8329
Epoch 49/100
800/800 [==============================] - 1s 885us/step - loss: 0.3990 - accuracy: 0.8409
Epoch 50/100
800/800 [==============================] - 1s 907us/step - loss: 0.3914 - accuracy: 0.8364
Epoch 51/100
800/800 [==============================] - 1s 902us/step - loss: 0.4043 - accuracy: 0.8344
Epoch 52/100
800/800 [==============================] - 1s 896us/step - loss: 0.3903 - accuracy: 0.8415
Epoch 53/100
800/800 [==============================] - 1s 908us/step - loss: 0.4016 - accuracy: 0.8365
Epoch 54/100
800/800 [==============================] - 1s 889us/step - loss: 0.3979 - accuracy: 0.8359
Epoch 55/100
800/800 [==============================] - 1s 855us/step - loss: 0.3939 - accuracy: 0.8387
Epoch 56/100
800/800 [==============================] - 1s 875us/step - loss: 0.4093 - accuracy: 0.8292
Epoch 57/100
800/800 [==============================] - 1s 939us/step - loss: 0.3967 - accuracy: 0.8350
Epoch 58/100
800/800 [==============================] - 1s 840us/step - loss: 0.3966 - accuracy: 0.8376
Epoch 59/100
800/800 [==============================] - 1s 889us/step - loss: 0.4047 - accuracy: 0.8340
Epoch 60/100
800/800 [==============================] - 1s 907us/step - loss: 0.3991 - accuracy: 0.8287
Epoch 61/100
800/800 [==============================] - 1s 916us/step - loss: 0.4039 - accuracy: 0.8344
Epoch 62/100
800/800 [==============================] - 1s 934us/step - loss: 0.3956 - accuracy: 0.8418
Epoch 63/100
800/800 [==============================] - 1s 922us/step - loss: 0.4021 - accuracy: 0.8342
Epoch 64/100
800/800 [==============================] - 1s 917us/step - loss: 0.3911 - accuracy: 0.8384
Epoch 65/100
800/800 [==============================] - 1s 863us/step - loss: 0.4028 - accuracy: 0.8364
Epoch 66/100
800/800 [==============================] - 1s 895us/step - loss: 0.3881 - accuracy: 0.8450
Epoch 67/100
800/800 [==============================] - 1s 876us/step - loss: 0.4045 - accuracy: 0.8341
Epoch 68/100
800/800 [==============================] - 1s 856us/step - loss: 0.3999 - accuracy: 0.8319
Epoch 69/100
800/800 [==============================] - 1s 926us/step - loss: 0.3959 - accuracy: 0.8340
Epoch 70/100
800/800 [==============================] - 1s 876us/step - loss: 0.4097 - accuracy: 0.8302
Epoch 71/100
800/800 [==============================] - 1s 915us/step - loss: 0.3956 - accuracy: 0.8339
Epoch 72/100
800/800 [==============================] - 1s 870us/step - loss: 0.3980 - accuracy: 0.8379
Epoch 73/100
800/800 [==============================] - 1s 894us/step - loss: 0.4050 - accuracy: 0.8329
Epoch 74/100
800/800 [==============================] - 1s 916us/step - loss: 0.3966 - accuracy: 0.8360
Epoch 75/100
800/800 [==============================] - 1s 875us/step - loss: 0.3996 - accuracy: 0.8370
Epoch 76/100
800/800 [==============================] - 1s 876us/step - loss: 0.4106 - accuracy: 0.8279
Epoch 77/100
800/800 [==============================] - 1s 900us/step - loss: 0.3931 - accuracy: 0.8350
Epoch 78/100
800/800 [==============================] - 1s 918us/step - loss: 0.4056 - accuracy: 0.8325
Epoch 79/100
800/800 [==============================] - 1s 891us/step - loss: 0.4061 - accuracy: 0.8301
Epoch 80/100
800/800 [==============================] - 1s 882us/step - loss: 0.4135 - accuracy: 0.8256
Epoch 81/100
800/800 [==============================] - 1s 921us/step - loss: 0.3980 - accuracy: 0.8387
Epoch 82/100
800/800 [==============================] - 1s 890us/step - loss: 0.3925 - accuracy: 0.8369
Epoch 83/100
800/800 [==============================] - 1s 959us/step - loss: 0.4001 - accuracy: 0.8395
Epoch 84/100
800/800 [==============================] - 1s 928us/step - loss: 0.3890 - accuracy: 0.8412
Epoch 85/100
800/800 [==============================] - 1s 921us/step - loss: 0.4039 - accuracy: 0.8348
Epoch 86/100
800/800 [==============================] - 1s 896us/step - loss: 0.3951 - accuracy: 0.8347
Epoch 87/100
800/800 [==============================] - 1s 871us/step - loss: 0.3920 - accuracy: 0.8414
Epoch 88/100
800/800 [==============================] - 1s 903us/step - loss: 0.3985 - accuracy: 0.8361
Epoch 89/100
800/800 [==============================] - 1s 877us/step - loss: 0.3972 - accuracy: 0.8375
Epoch 90/100
800/800 [==============================] - 1s 913us/step - loss: 0.4040 - accuracy: 0.8255
Epoch 91/100
800/800 [==============================] - 1s 911us/step - loss: 0.3954 - accuracy: 0.8394
Epoch 92/100
800/800 [==============================] - 1s 903us/step - loss: 0.4026 - accuracy: 0.8303
Epoch 93/100
800/800 [==============================] - 1s 900us/step - loss: 0.3834 - accuracy: 0.8444
Epoch 94/100
800/800 [==============================] - 1s 891us/step - loss: 0.3994 - accuracy: 0.8366
Epoch 95/100
800/800 [==============================] - 1s 910us/step - loss: 0.3997 - accuracy: 0.8365
Epoch 96/100
800/800 [==============================] - 1s 943us/step - loss: 0.4044 - accuracy: 0.8328
Epoch 97/100
800/800 [==============================] - 1s 866us/step - loss: 0.4025 - accuracy: 0.8342
Epoch 98/100
800/800 [==============================] - 1s 926us/step - loss: 0.4034 - accuracy: 0.8363
Epoch 99/100
800/800 [==============================] - 1s 916us/step - loss: 0.3861 - accuracy: 0.8438
Epoch 100/100
800/800 [==============================] - 1s 883us/step - loss: 0.3938 - accuracy: 0.8404

Here the loss is 0.3339 and the accuracy is 86%

In [195]:
#Make the prediction and evaluating the model
y_pred=classifier.predict(X_test)

In [161]:
y_pred

array([[0.21078485],
       [0.3283767 ],
       [0.1873892 ],
       ...,
       [0.16066739],
       [0.17445484],
       [0.10787082]], dtype=float32)

In [196]:
#when ever y_pred is greater than 0.5 we will consider it
y_pred=(y_pred>0.5)
#It is either going to give me zero/One

In [163]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [197]:
y_pred_df=pd.DataFrame(y_pred)

In [199]:
y_pred_df.columns=['predicted']

In [201]:
y_pred_df.head()

   predicted
0      False
1      False
2      False
3      False
4      False

In [202]:
y_pred_df=y_pred_df.set_index('predicted')

In [179]:
pd.set_option('display.max_rows',5000)
pd.set_option('display.max_columns',5000)

Index([False, False, False, False, False,  True, False, False, False,  True,
       ...
       False, False, False, False, False, False, False, False, False, False],
      dtype='object', name='predicted', length=2000)

In [190]:
#X_test_final=X_test_final.drop('Predicted',axis=1)

In [209]:
y_pred_df.columns

Index([], dtype='object')

In [210]:
X_test_final['predicted']=y_pred_df.index

In [211]:
X_test_final

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male,predicted
9394,597,35,8,131101.04,1,1,1,192852.67,1,0,0,False
898,523,40,2,102967.41,1,1,0,128702.10,0,0,0,False
2398,706,42,8,95386.82,1,1,1,75732.25,0,1,0,False
5906,788,32,4,112079.58,1,0,0,89368.59,0,0,1,False
2343,706,38,5,163034.82,2,1,1,135662.17,1,0,1,False
8225,670,57,3,175575.95,2,1,0,99061.75,0,1,0,True
5506,590,34,0,65812.35,2,0,1,160346.30,0,1,1,False
6451,636,29,6,157576.47,2,1,1,101102.39,0,1,0,False
2670,598,64,9,0.00,1,0,1,13181.37,0,0,0,False
3497,456,63,1,165350.61,2,0,0,140758.07,0,0,0,True
1087,498,31,10,0.00,2,1,0,13892.57,0,0,0,False
1819,714,45,8,150900.29,2,0,1,139889.15,0,1,1,False
2308,488,33,4,140002.35,1,1,0,123613.81,1,0,0,False
6084,562,31,9,117153.00,1,1,1,108675.01,1,0,0,False
3724,772,51,9,143930.92,1,0,1,46675.51,1,0,0,False
3184,667,55,9,154393.43,1,1,1,137674.96,1,0,1,False
6387,513,43,9,0.00,2,1,0,152499.80,0,0,0,False
3728,675,66,5,115654.47,2,1,1,131970.86,0,1,1,False
2702,622,30,4,107879.04,1,0,1,196894.62,0,0,0,False
7883,551,45,6,0.00,2,1,1,51143.43,0,0,0,False
2930,663,42,7,115930.87,1,1,0,19862.78,1,0,1,False
5988,850,35,2,0.00,2,1,1,56991.66,0,0,1,False
4890,552,34,4,0.00,2,1,0,140286.69,0,1,0,False
6718,444,34,2,144318.97,1,1,0,112668.06,0,0,1,False
5423,794,35,6,0.00,2,1,1,68730.91,0,0,1,False
3213,827,46,1,183276.32,1,1,1,13460.27,0,1,1,False
3017,590,29,2,166930.76,2,1,0,122487.73,0,1,0,False
382,492,30,10,77168.87,2,0,1,146700.22,1,0,0,False
4237,498,29,9,0.00,1,1,0,190035.83,0,0,0,False
4721,757,44,4,123322.15,1,1,0,137136.29,0,0,0,False
9547,626,34,3,0.00,2,1,1,37870.29,0,0,0,False
9477,655,41,5,0.00,1,0,0,36548.00,0,0,0,False
4795,483,29,9,0.00,1,1,1,81634.45,0,0,1,False
4747,663,64,6,0.00,2,0,1,15876.52,0,1,1,False
9366,736,36,6,0.00,1,1,0,70496.66,0,0,0,False
5334,786,24,2,120135.55,2,1,1,125449.47,1,0,1,False
6652,827,38,5,0.00,2,0,0,103305.01,0,0,1,False
9032,781,27,5,0.00,2,0,0,72969.90,0,0,0,False
580,701,36,8,0.00,2,1,0,169161.46,0,1,1,False
9491,649,35,4,108306.44,1,1,1,192486.24,0,0,0,False
6526,574,34,7,152992.91,1,1,1,134691.20,0,0,0,False
4346,743,41,7,0.00,1,1,0,163736.09,0,1,1,False
4974,638,55,2,155828.22,1,0,1,108987.25,0,1,0,False
7913,805,24,6,143221.35,2,1,0,186035.72,1,0,1,False
5611,625,42,6,100047.33,1,1,0,93429.95,1,0,1,False
8480,456,29,5,107000.49,1,1,1,153419.62,0,0,1,False
6625,657,41,6,112119.48,1,1,0,17536.82,0,1,0,False
5615,520,29,8,95947.76,1,1,0,4696.44,0,0,0,False
5602,796,50,1,94164.00,1,1,1,189414.74,0,0,0,False
4857,849,27,0,0.00,2,0,1,157891.86,0,0,1,False
6734,619,55,0,0.00,3,0,0,60810.64,0,0,0,True
8451,575,22,8,105229.34,1,1,1,34397.08,0,1,0,False
6332,619,35,4,90413.12,1,1,1,20555.21,0,0,0,False
6798,800,60,6,88541.57,2,1,1,131718.12,0,0,1,False
5313,783,72,5,121215.90,2,1,1,105206.48,0,0,0,False
2821,714,33,10,103121.33,2,1,1,49672.01,0,1,0,False
9300,701,41,9,164046.10,1,1,0,49405.93,1,0,1,False
2375,815,39,6,0.00,1,1,1,85167.88,0,1,0,False
1478,649,45,5,92786.66,1,1,0,173365.90,0,0,0,False
5013,672,40,3,0.00,1,1,0,113171.61,0,0,0,False
1559,760,42,0,77992.97,2,1,1,97906.38,1,0,1,False
8885,668,45,4,102486.21,2,1,1,158379.25,0,1,1,False
3986,706,38,8,0.00,2,0,1,46635.11,0,1,1,False
4429,626,38,7,141074.59,1,1,0,52795.56,0,0,1,False
3951,807,47,9,167664.83,1,0,0,125440.11,0,0,0,True
2932,688,54,9,0.00,1,1,0,191212.63,0,0,0,True
6419,729,44,6,0.00,2,1,0,151733.43,0,0,1,False
713,501,41,3,144260.50,1,1,0,172114.67,0,0,0,False
8089,692,24,2,120596.93,1,0,1,180490.53,1,0,1,False
6058,668,56,9,110993.79,1,1,0,134396.64,1,0,1,True
8711,516,65,9,102541.10,1,1,0,181490.42,0,1,0,True
4185,675,35,8,0.00,2,1,0,29062.25,0,1,1,False
4379,669,29,7,0.00,2,1,1,138145.62,0,0,1,False
7813,684,63,3,81245.79,1,1,0,69643.31,1,0,0,True
843,773,41,5,0.00,1,1,0,28266.90,0,1,0,False
655,498,25,8,121702.73,1,1,1,132210.49,1,0,1,False
7219,581,54,4,89299.81,1,0,0,5558.47,0,0,1,True
982,668,32,7,0.00,2,1,1,777.37,0,0,1,False
7439,432,27,6,62339.81,2,0,0,53874.67,0,0,0,False
8894,485,39,2,75339.64,1,1,1,70665.16,0,0,0,False
598,683,57,5,162448.69,1,0,0,9221.78,1,0,0,True
5350,477,57,9,114023.64,2,1,1,71167.17,0,0,0,False
4221,701,23,5,186101.18,2,1,1,76611.33,1,0,1,False
1422,696,41,9,127523.75,1,0,1,191417.42,0,1,1,False
3646,770,70,9,110738.89,1,1,0,22666.77,0,0,0,True
4387,732,67,1,0.00,2,1,1,177783.04,0,1,0,False
2606,657,32,3,118829.03,2,1,1,73127.61,0,0,1,False
4228,740,37,9,0.00,2,1,1,73225.31,0,0,0,False
1096,756,39,3,100717.85,3,1,1,73406.04,1,0,0,False
8940,657,38,7,0.00,2,1,0,185827.74,0,0,1,False
5814,618,40,1,133245.52,2,1,1,54495.82,1,0,0,False
3706,629,44,6,125512.98,2,0,0,79082.76,0,1,0,False
2846,544,39,4,142406.43,2,1,0,146637.45,1,0,1,False
467,816,38,5,130878.75,3,1,0,71905.77,1,0,0,False
8314,643,33,4,0.00,2,1,1,152992.04,0,0,1,False
4595,743,65,2,131935.51,1,1,1,96399.67,1,0,1,False
3725,686,31,1,0.00,2,1,0,4802.25,0,0,0,False
6450,834,28,6,0.00,1,1,0,74287.53,0,0,0,False
6846,689,40,5,154251.67,1,0,1,118319.50,0,1,0,False
3891,723,28,5,91938.31,1,1,0,143481.85,1,0,0,False
7407,639,22,4,0.00,2,1,0,28188.96,0,0,1,False
5892,588,35,3,104356.38,1,1,0,94498.82,1,0,1,False
5301,672,39,2,0.00,2,1,0,87372.49,0,0,1,False
4808,643,33,0,137811.75,1,1,1,184856.89,0,0,0,False
8148,780,47,7,86006.21,1,1,1,37973.13,0,1,1,False
3931,706,35,8,178032.53,1,0,1,42181.68,0,0,0,False
9672,613,28,7,76656.40,2,1,1,185483.24,1,0,1,False
1312,542,38,8,65942.26,1,1,1,68093.23,0,0,1,False
1942,684,45,6,148071.39,1,1,0,183575.01,0,0,1,False
841,818,31,1,186796.37,1,0,0,178252.63,0,0,0,False
5792,562,38,5,0.00,1,1,0,115700.20,0,0,1,False
3683,576,52,9,170228.59,2,0,0,148477.57,0,0,0,True
8876,556,46,3,131764.96,1,1,1,108500.66,0,1,1,False
5660,706,68,4,114386.85,1,1,1,28601.68,0,1,1,False
4447,666,50,7,109062.28,1,1,1,140136.10,1,0,0,False
3066,503,28,5,0.00,2,1,0,125918.17,0,0,0,False
8135,710,24,7,103099.17,2,1,0,173276.62,1,0,0,False
5957,612,76,6,96166.88,1,1,1,191393.26,1,0,1,False
4678,580,61,8,125921.37,1,1,1,94677.83,0,1,1,False
2869,524,22,9,0.00,2,1,0,74405.34,0,0,1,False
2535,651,40,1,134760.21,2,0,0,174434.06,1,0,1,False
5482,603,46,2,0.00,2,1,0,174478.54,0,1,1,False
4302,544,44,2,108895.93,1,0,0,69228.20,1,0,1,True
5608,518,27,1,133801.49,1,1,1,143315.57,0,0,0,False
7527,676,35,0,0.00,2,0,0,139911.58,0,1,1,False
1534,573,47,4,152522.47,1,0,1,164038.07,1,0,0,True
8110,677,36,10,68806.84,1,1,0,33075.24,1,0,0,False
6699,709,41,3,150300.65,2,1,0,71672.86,0,0,0,False
4696,631,41,0,0.00,1,0,0,87959.83,0,1,0,False
2580,697,38,6,132591.36,1,1,1,7387.80,1,0,0,False
7178,684,38,5,105069.98,2,1,1,198355.28,0,0,1,False
4644,712,74,5,0.00,2,0,0,151425.82,0,1,1,True
4858,779,41,10,99786.20,1,1,0,86927.53,0,0,0,False
5946,590,32,9,0.00,2,1,0,138889.15,0,0,1,False
9822,808,39,3,124216.93,1,0,1,171442.36,1,0,1,False
4673,644,33,2,0.00,1,1,0,96420.58,0,0,1,False
3341,718,29,3,0.00,1,0,1,134462.29,0,0,0,False
1376,457,41,8,73700.12,3,1,1,185750.02,0,0,1,False
9320,636,31,6,0.00,2,1,1,2382.61,0,0,1,False
6275,642,33,9,0.00,2,1,1,150475.14,0,1,0,False
1308,710,33,10,118327.17,2,1,1,192928.82,0,0,1,False
7569,656,28,8,120047.77,1,1,1,137173.39,0,1,1,False
7358,600,49,6,0.00,1,0,1,148087.88,0,0,0,False
2252,733,33,7,187257.94,1,0,1,190430.81,1,0,0,False
9892,604,40,5,155455.43,1,0,1,113581.85,0,1,1,False
8830,562,39,6,130565.02,1,1,0,9854.72,1,0,0,False
7980,497,27,7,149400.27,1,0,0,167522.19,0,1,1,False
8850,500,50,5,0.00,4,1,1,83866.35,0,1,0,False
9345,582,50,2,148942.00,1,1,1,116944.30,0,0,1,False
9276,435,54,3,0.00,1,1,0,156910.46,0,0,1,True
521,850,56,7,131317.48,1,1,1,119175.45,0,0,1,False
3232,559,34,5,68999.66,2,1,1,66879.27,0,0,0,False
226,694,30,9,0.00,2,1,1,26960.31,0,0,0,False
3953,652,33,3,124832.51,1,1,0,195877.06,0,1,0,False
1427,792,59,9,101609.77,1,0,0,161479.19,1,0,0,True
8748,655,44,6,146498.76,1,1,0,64853.51,1,0,0,True
8060,730,39,6,140094.59,1,1,0,172450.04,0,1,0,False
5525,624,51,10,123401.43,2,1,1,127825.25,0,0,1,False
167,615,41,9,109013.23,1,1,0,196499.96,0,1,0,False
1103,512,32,2,123403.85,2,1,0,80120.19,1,0,0,False
9089,608,34,4,88772.87,1,1,1,168822.01,0,0,0,False
6759,705,92,1,126076.24,2,1,1,34436.83,0,0,1,False
7648,610,31,5,0.00,2,0,0,63736.36,0,1,0,False
5473,787,38,3,158373.23,1,1,1,28228.35,1,0,0,False
2376,786,31,9,0.00,2,1,1,18210.36,0,1,1,False
296,714,31,4,125169.26,1,1,1,106636.89,0,0,0,False
1785,713,40,3,114446.84,2,1,1,87308.18,1,0,1,False
7684,615,41,1,126773.43,1,1,1,55551.26,0,1,1,False
7174,640,50,9,117565.03,2,0,0,82559.77,0,0,0,True
4700,838,35,0,0.00,2,0,1,197305.91,0,1,1,False
5657,496,30,0,90963.49,1,0,1,27802.00,0,0,1,False
6492,753,35,5,82453.96,2,0,0,18254.75,1,0,0,False
7978,608,30,2,91057.37,2,1,0,132973.17,1,0,0,False
1085,803,42,5,0.00,1,1,0,196466.83,0,0,1,False
5888,443,54,3,138547.97,1,1,1,70196.23,0,0,0,False
9715,680,34,7,0.00,2,1,0,98949.85,0,1,0,False
8057,816,34,2,108410.87,2,1,0,102908.91,1,0,0,False
1402,757,29,8,130306.49,1,1,0,77469.38,0,0,1,False
9827,602,33,5,0.00,2,0,1,64038.34,0,1,1,False
3977,620,21,9,0.00,2,0,0,154882.79,0,1,1,False
3652,542,34,8,101116.06,1,1,0,196395.05,0,0,1,False
4456,544,40,8,0.00,2,1,0,61581.20,0,0,1,False
4912,748,60,0,152335.70,1,1,0,126743.33,0,0,1,True
2579,365,30,0,127760.07,1,1,0,81537.85,1,0,1,False
2288,619,30,7,70729.17,1,1,1,160948.87,0,0,0,False
8301,615,58,3,72309.30,1,1,1,85687.09,1,0,1,False
2090,667,39,9,0.00,2,1,0,68873.80,0,1,1,False
5818,592,34,6,102143.93,2,1,1,102628.98,1,0,0,False
2929,744,32,4,96106.83,1,1,1,79812.77,1,0,1,False
256,727,34,10,0.00,2,1,1,198637.34,0,0,1,False
3838,628,50,4,122227.71,1,0,1,14217.77,1,0,1,False
6049,592,41,0,0.00,2,1,0,65906.07,0,1,1,False
9862,756,27,8,0.00,2,1,1,157932.75,0,0,1,False
4100,635,37,9,146748.07,1,0,1,11407.58,1,0,0,False
7977,647,47,10,99835.17,1,0,1,89103.05,0,1,1,False
3039,829,26,8,101440.36,2,1,1,19324.50,0,1,0,False
334,626,37,6,108269.37,1,1,0,5597.94,0,1,0,False
7053,755,43,6,165048.50,3,1,0,16929.41,1,0,1,False
9617,591,35,2,90194.34,2,1,0,57064.57,1,0,0,False
6939,570,43,9,0.00,2,0,1,11417.26,0,0,0,False
6768,599,42,6,0.00,2,1,0,113868.40,0,1,1,False
779,679,35,8,119182.73,1,0,0,121210.09,0,1,0,False
4277,775,51,2,123783.25,1,1,1,134901.57,1,0,1,False
1507,549,43,3,134985.66,1,1,0,6101.41,1,0,0,True
3776,750,33,2,152302.72,1,1,0,71333.44,0,0,1,False
2206,609,34,1,0.00,1,1,1,181177.90,0,0,1,False
6836,715,42,6,0.00,2,1,1,128745.69,0,1,1,False
8461,625,44,7,0.00,1,1,0,4791.80,0,0,0,False
4430,588,59,4,0.00,2,1,1,27435.41,0,1,1,False
7923,730,38,5,118866.36,1,1,1,163317.50,0,1,1,False
8249,586,38,6,0.00,2,1,1,37935.83,0,0,0,False
8447,765,33,5,84557.82,1,1,1,69039.43,0,1,0,False
6061,544,47,5,105245.21,1,0,0,99922.08,1,0,1,True
4643,597,60,0,131778.08,1,0,0,10703.53,0,0,0,True
3546,542,43,6,113567.94,1,1,0,89543.25,0,1,1,False
7176,495,39,8,120252.02,2,1,1,10160.23,1,0,1,False
5141,774,32,9,0.00,2,1,0,10604.48,0,1,1,False
1261,744,38,6,73023.17,2,1,0,78770.86,1,0,1,False
2128,743,37,8,69143.91,2,0,1,105780.18,0,0,1,False
9748,627,24,5,102773.20,2,1,0,56793.02,1,0,1,False
2849,497,41,9,0.00,1,0,0,22074.48,0,0,1,False
4168,516,37,8,0.00,1,1,0,101834.58,0,0,1,False
5355,597,29,1,132144.35,1,1,0,158086.33,0,0,0,False
992,752,42,3,65046.08,2,0,1,140139.28,1,0,0,False
5498,563,35,3,106250.72,1,0,0,39546.32,0,0,1,False
6714,825,36,3,146053.66,1,1,1,138344.70,0,0,0,False
2054,747,41,5,0.00,2,1,1,22750.17,0,0,1,False
9333,755,78,5,121206.96,1,1,1,76016.49,0,0,0,False
1536,838,34,8,0.00,2,1,0,27472.07,0,0,0,False
9071,435,44,3,151739.65,1,1,0,167461.50,1,0,1,True
487,542,39,3,135096.77,1,1,1,14353.43,0,0,1,False
9228,699,39,2,109724.38,1,1,1,180022.39,0,0,1,False
7325,761,34,2,0.00,2,1,0,61251.25,0,1,0,False
6005,636,24,9,0.00,2,0,1,38830.72,0,0,0,False
7230,670,37,2,0.00,2,1,1,54229.74,0,0,1,False
7235,697,35,5,133087.76,1,1,0,64771.61,0,0,1,False
2890,586,34,5,168094.01,1,0,0,20058.61,0,1,1,False
578,593,41,6,0.00,1,1,0,65170.66,0,0,0,False
651,720,52,7,0.00,1,1,1,14781.12,0,0,1,False
272,811,34,1,149297.19,2,1,1,186339.74,1,0,0,False
8083,576,29,7,130575.26,1,0,1,173629.78,1,0,1,False
7810,756,34,2,148200.72,1,0,0,194584.48,1,0,0,False
1997,672,34,1,142151.75,2,1,1,168753.34,0,0,0,False
7049,602,39,6,154121.32,2,1,0,176614.86,0,0,0,False
2436,704,37,4,0.00,2,0,0,25684.93,0,1,1,False
2006,687,39,7,0.00,2,1,0,26848.25,0,0,1,False
6877,614,37,9,0.00,2,1,1,62023.10,0,1,0,False
4608,850,42,8,119839.69,1,0,1,51016.02,1,0,1,False
7481,626,34,7,113014.70,2,1,1,56646.28,0,0,1,False
1946,648,34,3,95039.73,2,1,1,147055.87,1,0,1,False
7415,812,29,6,0.00,2,0,0,168023.60,0,0,1,False
1201,399,46,2,127655.22,1,1,0,139994.68,1,0,1,True
3813,703,73,5,137761.55,1,1,1,159677.46,0,1,1,False
4033,632,48,6,126066.26,1,1,0,64345.61,1,0,1,True
7473,609,32,4,99883.16,1,1,1,120594.85,0,1,1,False
3667,525,33,4,131023.76,2,0,0,55072.93,1,0,1,False
1730,850,20,7,0.00,2,1,0,31288.77,0,0,1,False
8709,529,39,6,102025.08,2,1,0,12351.01,0,0,1,False
5567,676,28,1,69459.05,2,1,1,128461.29,1,0,1,False
6837,664,40,9,0.00,2,1,0,194767.30,0,0,1,False
3812,625,40,7,141267.67,1,0,1,177397.49,0,0,0,False
6740,670,40,2,147171.20,1,0,1,69850.04,1,0,0,False
4676,684,42,3,103210.27,1,1,0,31002.03,0,1,0,False
1283,669,45,7,149364.58,1,0,1,173454.07,0,0,1,False
1455,686,35,2,109342.82,2,0,1,86043.27,1,0,1,False
5322,721,40,7,0.00,2,1,1,122580.48,0,0,0,False
9792,819,28,8,168253.21,1,1,1,102799.14,0,1,0,False
190,715,41,8,56214.85,2,0,0,92982.61,0,0,0,False
4645,522,34,3,0.00,2,1,1,3894.34,0,0,0,False
565,543,36,4,0.00,2,1,1,141210.50,0,0,1,False
2501,691,38,5,114753.76,1,1,0,107665.02,1,0,0,False
9368,737,28,8,0.00,2,1,0,106390.01,0,0,1,False
48,550,38,2,103391.38,1,0,1,90878.13,1,0,1,False
1611,760,49,9,91502.99,1,1,0,117232.90,1,0,0,True
9482,707,40,1,0.00,2,1,0,14090.40,0,0,1,False
6821,802,39,7,120145.96,2,0,1,59497.01,0,0,0,False
2043,723,34,5,0.00,2,0,1,12092.03,0,0,1,False
377,572,35,4,152390.26,1,1,0,128123.66,0,1,1,False
4413,615,39,5,113193.51,2,1,1,52166.25,1,0,1,False
5607,641,41,7,104405.54,3,1,0,17384.21,1,0,1,False
4087,637,60,3,0.00,2,1,1,70174.03,0,0,1,False
6755,812,38,3,127117.80,2,1,1,174822.74,0,1,1,False
1495,685,57,7,101868.51,1,0,1,113483.96,1,0,1,False
2081,456,32,9,133060.63,1,1,1,125167.92,1,0,1,False
7612,678,28,5,138668.18,1,1,1,54144.01,0,1,1,False
2201,600,35,4,143744.77,2,1,0,104076.51,0,0,1,False
1382,661,42,3,0.00,2,1,0,35989.41,0,1,0,False
8960,602,26,8,113674.20,1,1,0,197861.16,1,0,0,False
4737,791,36,6,111168.97,1,1,1,189969.91,0,0,1,False
6948,750,33,3,161801.47,1,0,1,153288.97,0,1,0,False
3086,716,22,8,0.00,2,1,1,92606.98,0,0,0,False
4339,559,43,1,0.00,2,1,1,196645.87,0,0,0,False
8339,695,42,0,0.00,2,0,1,140724.64,0,0,0,False
6152,508,64,2,0.00,1,1,1,6076.62,0,0,0,False
5461,531,31,2,118899.45,2,0,0,41409.36,0,1,1,False
7805,635,34,3,134692.40,2,1,1,83773.02,0,0,1,False
5228,751,29,10,147737.63,1,0,1,94951.27,0,0,1,False
2685,679,60,6,0.00,2,1,1,77331.77,0,0,1,False
5725,507,33,1,113452.66,1,0,0,142911.99,0,0,0,False
8051,605,56,1,74129.18,2,1,1,62199.78,1,0,0,False
7655,748,38,4,115221.36,1,0,1,70956.75,0,0,1,False
8544,689,46,7,52016.08,2,1,1,72993.65,0,0,0,False
4007,648,43,7,139972.18,1,1,0,143668.58,0,0,0,False
8195,577,59,7,111396.97,1,0,1,191070.01,1,0,0,False
6985,825,32,9,0.00,2,0,0,9751.03,0,0,1,False
9698,779,49,9,106160.37,1,0,0,116893.87,0,0,1,False
6488,550,44,9,0.00,2,1,0,26257.01,0,0,1,False
2587,563,33,8,0.00,2,0,1,68815.05,0,0,1,False
8221,443,59,4,110939.30,1,1,0,72846.58,1,0,1,True
4534,656,41,2,0.00,2,1,0,158973.77,0,0,1,False
5416,630,50,8,0.00,2,0,1,79377.45,0,0,1,False
2284,664,39,7,60263.23,1,1,0,170835.32,1,0,1,False
3358,705,33,5,116765.70,1,0,0,190659.17,1,0,0,False
834,633,30,6,0.00,2,0,0,41642.29,0,0,0,False
5667,672,34,8,0.00,2,1,1,16245.25,0,0,0,False
8046,811,47,3,123365.34,2,0,0,171995.34,0,0,0,False
3169,677,40,5,0.00,2,1,0,88947.56,0,1,1,False
8018,632,23,3,122478.51,1,1,0,147230.77,1,0,1,False
555,590,51,3,154962.99,3,0,1,191932.27,0,1,0,False
265,531,36,9,99240.51,1,1,0,123137.01,0,1,0,False
3637,845,52,0,0.00,1,1,0,31726.76,0,1,0,True
1109,595,31,4,0.00,2,1,0,189995.86,0,0,1,False
7346,789,27,6,0.00,2,1,0,103603.65,0,0,1,False
7457,665,43,2,116322.27,4,1,0,35640.12,1,0,0,False
159,631,33,4,123246.70,1,0,0,112687.57,1,0,0,False
1106,678,38,2,0.00,2,0,0,115068.99,0,0,0,False
230,673,72,1,0.00,2,0,1,111981.19,0,0,1,False
7467,651,37,10,117791.06,2,1,1,75837.58,1,0,0,False
6642,589,37,6,138497.84,1,0,1,18988.58,0,0,0,False
9802,756,40,1,94773.11,1,1,0,114279.63,0,0,1,False
3071,798,32,7,0.00,2,0,1,37731.95,0,0,1,False
9543,647,35,6,112668.70,1,0,1,122584.29,0,0,0,False
7070,748,39,3,157371.54,1,0,1,97734.30,0,0,0,False
9520,727,18,2,93816.70,2,1,0,126172.11,1,0,0,False
4813,517,39,3,0.00,2,0,1,12465.51,0,1,1,False
7854,746,49,7,0.00,2,0,1,10096.25,0,1,1,False
2113,738,35,6,101744.84,1,0,0,85185.44,1,0,1,False
2585,724,28,9,0.00,2,1,1,100240.20,0,0,1,False
1824,798,37,4,111723.08,1,1,1,83478.12,0,0,0,False
1813,829,38,9,0.00,2,1,0,30529.88,0,0,1,False
8310,702,43,6,116121.67,1,1,0,61602.42,0,1,1,False
4520,652,46,10,121063.80,3,1,0,151481.86,1,0,1,False
4568,584,32,8,40172.91,1,1,1,137439.34,1,0,1,False
7037,568,46,8,150836.92,1,0,0,64516.80,1,0,1,True
3585,757,28,7,120911.75,2,1,1,131249.46,0,0,1,False
2007,705,43,10,146547.78,1,0,1,10072.55,1,0,0,False
8849,664,38,4,74306.19,2,1,0,154395.56,0,0,0,False
125,432,42,9,152603.45,1,1,0,110265.24,0,0,1,False
1149,655,38,4,0.00,2,0,0,110527.71,0,0,1,False
9098,473,32,5,146602.25,2,1,1,72946.95,1,0,0,False
1121,809,24,4,0.00,2,1,0,193518.76,0,0,0,False
247,545,26,1,0.00,2,1,1,199638.56,0,0,0,False
9371,641,31,9,112494.99,1,1,1,32231.60,0,0,1,False
2092,655,38,3,250898.09,3,0,1,81054.00,0,1,1,False
9534,773,52,2,0.00,2,1,0,57337.79,0,1,1,True
5235,645,68,9,0.00,4,1,1,176353.87,0,0,0,False
3274,629,31,6,0.00,1,1,1,16447.60,0,0,0,False
6552,793,34,5,127758.09,1,1,0,143357.03,1,0,0,False
9970,518,42,7,151027.05,2,1,0,119377.36,0,0,1,False
693,589,34,6,0.00,2,1,1,177896.92,0,0,1,False
5367,673,41,5,0.00,1,1,1,65657.29,0,0,1,False
5053,636,28,2,115265.14,1,0,0,191627.85,1,0,0,False
9298,742,27,5,190125.43,2,0,0,21793.59,1,0,1,False
499,570,58,8,0.00,1,0,1,116503.92,0,0,0,False
7398,453,40,1,111524.49,1,1,1,120373.84,1,0,0,False
6575,794,55,6,115796.70,1,1,0,160526.36,1,0,0,True
5777,608,66,8,123935.35,1,1,1,65758.19,0,1,1,False
8726,697,43,8,103409.16,1,1,0,66893.28,1,0,1,False
5741,709,42,9,118546.71,1,0,1,77142.85,0,0,1,False
2183,713,38,9,72286.84,2,1,1,26136.89,0,0,1,False
1176,726,34,9,0.00,2,0,0,14121.61,0,0,1,False
5529,691,34,8,133936.04,2,1,0,91359.79,0,0,1,False
1029,609,53,10,0.00,1,1,1,154642.91,0,1,1,False
4945,529,31,2,164003.05,2,1,1,60993.23,0,0,0,False
6425,793,39,3,137817.52,1,0,0,83997.79,0,0,1,False
3932,680,23,5,140007.19,1,0,1,31714.08,0,0,1,False
3181,575,37,9,133292.45,1,1,0,111175.09,0,1,0,False
528,572,48,3,152827.99,1,1,0,38411.79,1,0,0,True
3850,680,34,3,143292.95,1,1,0,66526.01,0,0,1,False
6665,506,32,8,0.00,2,0,1,182692.80,0,1,1,False
9416,648,37,6,131753.41,1,1,0,86894.67,1,0,1,False
3222,524,30,1,0.00,2,1,0,126812.85,0,0,1,False
2017,728,37,4,0.00,1,0,0,4539.38,0,1,0,False
9151,614,49,1,0.00,2,1,0,192440.54,0,0,1,False
3402,690,26,5,157624.84,1,1,1,49599.27,0,0,0,False
7509,545,37,9,95829.13,2,0,1,104936.88,1,0,1,False
6412,602,53,5,98268.84,1,0,1,45038.29,1,0,0,False
4752,659,54,8,133436.52,1,1,0,56787.80,0,0,1,True
6561,445,48,7,168286.58,1,1,0,16645.77,1,0,0,True
1748,674,34,2,152797.90,1,1,0,175709.40,1,0,1,False
6591,758,33,7,0.00,1,1,0,188156.34,0,0,0,False
3147,752,44,6,83870.33,1,1,0,178722.24,0,1,1,False
2036,782,34,6,147422.44,1,0,1,42143.61,0,1,1,False
9,684,27,2,134603.88,1,1,1,71725.73,0,0,1,False
5121,677,35,0,0.00,2,0,0,76637.38,0,1,0,False
3374,735,55,2,103176.62,1,0,1,163516.16,0,1,1,False
6027,850,44,3,140393.65,2,0,1,186285.52,1,0,1,False
5523,717,35,4,0.00,1,1,1,167573.06,0,0,1,False
5505,534,53,7,0.00,2,1,1,80619.17,0,0,0,False
8362,567,36,7,0.00,2,0,1,3896.08,0,0,1,False
2817,538,30,8,0.00,2,1,1,41192.95,0,1,0,False
3114,619,40,10,0.00,1,1,1,147093.84,0,0,0,False

Confusion matrix

In [215]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(Y_test,y_pred)
accuracy=accuracy_score(Y_test,y_pred)

In [216]:
cm

array([[1549,   46],
       [ 270,  135]])

Accuracy

In [217]:
accuracy

0.842